/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
img{
  width: 10rem;
  height: 20em;
}
.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding-left: 9rem;
  /* background-color: red; */
}

.loading-logo{
  color: aqua;
  
  /* transform: scale(10%); */
  /* transform: translateX(9rem) rotate(360); */
  /* transition-delay: 1s; */
  /* transition: 1.5s ease-in-out; */
}

.red{
  background-color: red;
}
